<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href=".\proifle_bootstrap.html" class="nav-link" role="button">Home</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h2>Add Interest</h2>
        <p>Interest name</p>
        <input typeof="text" class="form-control" id="interestName" placeholder="name" input>
        <br>
        <label for="interestText">Text About Interest</label>
        <textarea typeof="text" class="form-control" id="interestText" rows="3"></textarea>
    </div>
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <form>
                    <div class="form-group">
                        <label for="="exampleFormControlFile1">Upload Local Image:</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </form>
            </div>

        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label for="tweetNumber">Select # of Tweets to Display:</label>
                    <select class="form-control" id="tweetNumber">
                        <option>1</option>
                        <option>10</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
        </div>

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    <p> How satisfied are you with this</p>
    <div class="form-check-inline">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">1
        </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">2
        </label>
    </div>
    <div class="form-check-inline disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">3
        </label>
    </div>
    <div class="form-check-inline disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">4
        </label>
    </div>
    <div class="form-check-inline disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">5
        </label>
    </div>
<br>
    <div class="container-fluid">
        <p>Login to Finish Submitting</p>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="text" class="form-control" id="userFrom" placeholder="Username">
                </div>
            </div>
        <div class="col-sm-6">
            <div class="form-group">
                <input type="password" class="form-control" id="passForm" placeholder="Password">
            </div>
        </div>
        </div>
    </div>
    <a href="../index.html" class="btn btn-info" role="button">Submit</a>
</body>
</html>
