
							<!DOCTYPE html>
							<html>
								<head>
								<title>About Me</title>
								<style>
								table, th, td {
									border: 1px solid black;
									border-collapse: collapse;
								}
								</style>
								</head>
								<body>
								<h1>Charbonneau, Kevin</h1>
								<p>I've managed to make multile robots for government interships. <br>
								I spend a month traveling Europe. <br>
								I can't come up with interesting facts. That's interesting. <br>
								I'm studying computer science because I like breaking codes. My overall goal is to an ethical hacker.</p>
								<h2>My Professional Profile</h2>
								<a href="https://github.com/CSCI-3308-CU-Boulder/The-Spirit-Lemurs.git">Kevin's github</a>
								<img src="../resources/img/cute_face.jpg" alt="Volk's avatar" height="700" width="500">
								<h3>My Favorite Projects</h3>
								<table style="width:100%">
									<tr>
										<th>Name of the Project</th>
										<th>Technologies Used</th> 
									</tr>
									<tr>
										<td>Web Interface</td>
										<td>html</td>
									</tr>
									<tr>
										<td>Code Breaking</td>
										<td>Kali Linux</td>
									</tr>
									<tr>
										<td>Robots</td>
										<td>C,C++ and physical engineering</td>
								</table>
								<h4>My Interests</h4>
									 <ul style="list-style-type:disc;">
										<li>Hiking</li>
										<li>Games</li>
										<li>Long walks on the beach</li>
									</ul> 
								</body>
							</html>
								